* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
  color:inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction:column;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
  height:100%;
}

#root {
  display:flex;
  flex-direction:column;
  flex:1;
}

main {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 300;
}

h1{
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color:antiquewhite;
  color: black;
  height: 100px;
  align-items: center;
}

nav > a {
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
}
a:hover {
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
  background-color:antiquewhite;
  color: black;
  align-items: center;
  height: 100px;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 3px solid rgb(39, 39, 39);
  border-radius: 15px;
  margin: 10px;
}

.card:hover{
  border: 3px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 20px auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

#Dark {
  background-color: gray;
  color: white;
}

#Light {
  background-color: white;
  color: black;
}

#buttonTema {
  border:none;
  border-radius:5px;
  color:white;
  background-color: gray;
  padding:10px;
  width:120px;
}

button{
  background-color: rgb(187, 218, 245);
  color: black;
  border-radius: 20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  padding: 5px;
  border-width: 2px;
}

button:hover{
  color: white;
  background-color: rgb(50, 89, 148);
  cursor: pointer;
}

.details{
 background-color: gray;
  text-align: center;
  padding: 30px;
  width: 30vw;
}